* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    border-bottom: solid 4px black;
}

#cup {
    height: 50px;
    width: 50px;
}

.capital {
    display: inline;
}

.text {
    background-color: #f8f7f4;
    padding: 25px;
    border-radius: 45px;

}

#content {
    margin-top: 80px;
}

.menu {
    /* padding: 30px 40px; */
    background-color: teal;
    border-radius: 30px;
    max-width: 90%;
}

.menuBorder {
    padding: 50px 40px;
    background-color: #00888866;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
    }
    .menuBorder {
        padding: 20px 0px;
    }
}
